/* Letra   H1 Hero */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;700&display=swap');
/* Letra NAV */
  @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');



*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}
body{padding-top: 6rem;}

header{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #fff;
  padding: 20px;
  z-index: 999;
  
}
section:not(.excepcion) {
  margin: 0px 3%;
}

.excepcion {
  background-color: #E3FDF7;
}

a {
    text-decoration: none;
    color: black;
}

li{
    list-style-type: none;
}

.containerHeader {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 20px;
    /* height: 2rem; */
  }
  
  .logo img {
    max-height: 50px;
  }
  
  .menu {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  .menu li {
    margin-right: 20px;
    
  }
  
  
  
  .menu li a {
    text-decoration: none;
    font-family: 'Nunito', sans-serif;
    margin-left: 2rem;
    font-size: 20px;
    color:#262626;
    transition: color 0.3s ease;
    transition: transform 0.3s ease;
    display: inline-block;
  }
  
  .contact-btn {
    background-color:#00494e;
    color: #feffff;
    padding: 1.5rem 3.5rem;
    border: none;
    border-radius:0.625rem;
    font-size:1.2rem;
    text-align: center;
    border: hidden; 
    cursor:pointer;
    
  }
  
  .mobile-menu {
    display: none;
    cursor: pointer;
    margin-bottom: 2.7rem;
  }
  
  .hamburger {
    width: 30px;
    height: 3px;
    /* background-color: #333; */
    margin: 5px 0;
    font-size: 3rem;
    
  }

  /* HOOVER */

 
  nav a:hover {
    color: #00494e;
    transform: scale(1.2);
    
    
  }
  
  .contact-btn {
    transition: background-color 0.3s ease;
  }

  .contact-btn:hover {
    background-color: #002f32;
    color: #ffffff;
  }
  
  .contact-btn:active {
    background-color: #00494e;
    color: #ffffff;
  }
  
  @media (max-width: 768px) {
    header {
      position: static;
    }
  
    .menu {
      display: none;
    }
  
    .mobile-menu {
      display: block;
    }

    body{padding-top: 0rem}

    .contact-btn {
      background-color:#00494e;
      color: #feffff;
      padding: 0.938rem 2rem;
      border: ;
      border-radius:0.625rem;
      font-size:1rem;
      text-align: center;
      border: hidden; 
      cursor:pointer;
      width: 9.375rem;
      margin-right: 10%;
    }
  }

/* SECTION HERO */


.hero {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 80vh;
  margin-top: 5rem;

}

.wordpress {
  flex-basis: 50%;
}

.wordpress h1 {
  font-family: 'Poppins', sans-serif;
  font-size: 10.9vh;
  color: #000;
}

.wordpress .subrayado {
  text-decoration: underline;
  color: #00494e;
}

.wordpress .punto {
  color: #91F2BB;
}

.wordpress .colorNegro{
  color: black;
}

.hire-btn {
  background-color: #00494e;
  color: #feffff;
  padding: 0.938rem 2rem;
  border-radius: 0.625rem;
  font-size: 1rem;
  text-align: center;
  border: hidden;
  cursor: pointer;
  width: 9.375rem;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
}

.imagenAnimada {
  flex-basis: 50%;
}

.imagenAnimada img {
  max-width: 100%;
}

/* HOOVER */

.hire-btn {
  transition: background-color 0.3s ease;
}
.hire-btn:hover {
  background-color: #002f32;
  color: #ffffff;
}

.hire-btn:active {
  background-color: #00494e;
  color: #ffffff;
}

/* Media query para dispositivos móviles */
@media (max-width: 768px) {
  .hero {
    flex-direction: column;
    height: auto;
  }
  
  .wordpress,
  .imagenAnimada {
    flex-basis: 100%;
  }
  
  .wordpress h1 {
    font-size: 6vh;
    text-align: center;
  }
  
  .hire-btn {
    width: 100%;
  }
  
  .imagenAnimada {
    display: none;
  }
}

/* SECTION ABOUT ME */
.aboutme {
  background-color: #E3FDF7;
  display: flex;
  margin-top: 2rem;
  margin-bottom: 6rem;
}

.aboutme img {
  flex-basis: 32%;
  max-width: 32%;
  margin-left:6%;
  margin-top: 5%;
  margin-bottom: 5%;
  border-radius: 10px;
}

.aboutme .aboutmeTexto {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  flex-basis: 50%;
  margin-left: 5rem;
}

.aboutme .aboutmeTexto h1 {
  font-size: 3rem;
  margin-bottom:40px; 
}

.aboutme .aboutmeTexto p {
  font-size: 1.8rem;
  margin-bottom: 50px; 
}

.aboutme .aboutmeTexto button {
  background-color: transparent;
  border: 3px solid black;
  color: black;
  font-weight:bold;
  font-size: 2.5rem;
  border-radius: 1.2rem;
  padding: 0.938rem 2rem;
  cursor: pointer;
  transition: background-color 0.5s ease;

  
}

/* HOOVER */
.aboutme .aboutmeTexto button:hover {
  background-color: #00494e;
  color: #ffffff;
}
/* Media query */

@media (max-width: 768px) {
  .aboutme img {
    display: none;
  }
  
  .aboutme .aboutmeTexto {
    align-items: center;
    text-align: center;
    margin-left: 0;
    flex-basis: 100%;
  }
  .aboutme .aboutmeTexto h1{
    margin-top: 1rem;
    
  }

  .aboutme .aboutmeTexto p{
      }


  .aboutme .aboutmeTexto button {
    background-color: transparent;
    border: 3px solid black;
    color: black;
    font-weight:bold;
    font-size: 1.2rem;
    border-radius: 1.2rem;
    padding: 0.938rem 2rem;
    cursor: pointer;
    margin-bottom: 1rem;
    
  }
  .aboutme .aboutmeTexto h1 {
    font-size: 2rem;
    margin-bottom: 10px;
  }
  .aboutme .aboutmeTexto p {
    font-size: 1.2rem;
    margin: 10px 40px;
    
  }
}
.whatWeDo{
  
}


.contenedorOurServices {
  display: flex;
  justify-content: space-between;
  align-items: flex-start; 
  margin: 0 50px; 
  margin-top: 4rem;
}


.titles-container {
  display: flex;
  flex-direction: column;
  align-items: start;
  margin-left: 50px;
}

.prTitulo{
  font-size: 1.8rem;
}

.seTitulo {
  margin: 0;
  font-size: 2.5rem;
}
.services {
  width: 30%; 
  padding: 20px;
  background-color: #E3FDF7;
  border-radius: 10px;
  margin-bottom: 20px; 
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.services img {
  width: 100px;
  height: 100px;
  margin-right: 10px; 
}

.services h2 {
  font-size: 1.8rem;
  margin-top: 0; 
}

.services p {
  font-size: 1.5rem;
  margin-top: 10px;
}

.services button.custom-button {
  background-color: transparent;
  border: 2px solid #00494e;
  color: #00494e;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 20px; 
  font-weight: bold; 
  font-size: 12px;
  transition: background-color 0.5s ease;
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 0.5; 
  flex-shrink: 0;
  width: 63%;
}

.arrow{
  font-size: 1.5rem;
  font-weight: bold;
  margin-left: 0.5rem;
  margin-bottom: 0.4rem;
  vertical-align: middle; 
  
}

/* HOOVER */
.services button:hover {
  background-color: #00494e;
  color: #ffffff;
}
/* Media query */

@media (max-width: 768px) {
  .contenedorOurServices {
    flex-direction: column;
  }

  .services {
    width: 100%;
    margin-bottom: 20px;
  }

  .services h2 {
    font-size: 1.6rem;
    margin-top: 0; 
  }
  
  .services p {
    font-size: 1.2rem;
    margin-top: 10px;
  }

  .services img {
    width: 50px;
    height: 50px;
    margin-right: 10px; 
  }

  .services button.custom-button {
    background-color: transparent;
    border: 2px solid #00494e;
    color: #00494e;
    padding: 10px 5px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
    width: 60%; /* Ajusta el ancho del botón al 50% */
    font-weight: bold; /* Aplica negrita al texto del botón */
    font-size: 14px;
}

/* SECCION PROYECTOS */

.prTitulo{
  font-size: 1.4rem;
}

.seTitulo {
  margin: 0;
  font-size: 2.0rem;
}

}

.featured {
  display: flex;
  flex-direction: column;
}

.featured .cabFeatured {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2rem; 
  margin-top: 2rem;
}

.featured .cabFeatured h1 {
  font-size: 2.5rem;
  margin-left: 2.5rem; 

}

.featured .cabFeatured .flecha{
  font-size: 80px;
  background-color: transparent;
  border: transparent;
  cursor: pointer;
  
}

.featured .cabFeatured .alinearpyb {
  display: flex;
  align-items: center;
  
}

.featured .cabFeatured p {
  font-size: 1rem;
  margin-right: 2rem;
}

.featured .contenedorFeatured {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  gap: 4rem;
  margin: 0 45px; 
}

.featured .contenedorFeatured .trabajos {
  flex-basis: 30%;
  text-align: left;
  margin-bottom: 2rem; 
  
}

.featured .contenedorFeatured .trabajos img {
  max-width: 100%;
  width: 100%;

}

.featured .contenedorFeatured .trabajos h3 {
  font-size: 2rem;
}

.featured .contenedorFeatured .trabajos p {
  font-size: 1.8rem;
  margin-top: 0.5rem;
}

.featured .contenedorFeatured .trabajos button {
  background-color: transparent;
  border: 3px solid black;
  color: black;
  text-decoration: none;
  font-size: 1.5rem;
  border-radius: 1rem;
  padding: 0.5rem 1rem;
  cursor: pointer;
  margin-top: 1rem;
  transition: transform 0.3s ease;
}

.featured .cabFeatured p {
  font-size: 1.4rem;
  font-weight: bold;
   

}
/* HOOVER */

.featured .flecha i {
  transition: color 0.3s ease;
  transition: transform 0.3s ease;
  display: block
}

.featured .flecha i:hover {
  color: #00494e;
  background-color: white;
  transform: scale(1.2);
  
}
.featured .contenedorFeatured .trabajos button:hover{
  transform: scale(1.2);
}


@media (max-width: 768px) {
  .featured .contenedorFeatured .trabajos {
    flex-basis: 100%;
  }
  .featured .cabFeatured h1 {
    font-size: 1.8rem;
    margin-left: 2.5rem; 
  
  }

  .featured .cabFeatured p {
    display: none;
      
   
   }
     
     .featured .cabFeatured .flecha{
      display: none;
   }

}


         /* FORMULARIO*/
      .formulario {
        display: flex;
        align-items: center; /* Alinear verticalmente al centro */
       justify-content: space-between; /* Espacio entre los elementos */
    }
    
    .form-container {
        flex-basis: 50%;
        padding: 20px;
        text-align: center;
    }
    
    .form-container h2 {
        font-size: 48px;
        margin-bottom: 20px;
    }

   
    
    .form-container form {
        display: flex;
        flex-direction: column;
    }
    


    .form-container input, textarea{
      background-color: #E3FDF7;
    }
    
    .input-container {
        margin-bottom: 20px;
    }
    
    .input-container label {
        display: block;
        font-size: 25px;
        font-weight: bold;
        margin-bottom: 5px;
        
    }
    
    .input-container input,
    .input-container textarea {
        padding: 10px 40px;
        border-radius: 4px;
        border: 2px solid #ccc;
        font-size: 16px;
        border-color: #00494e;
    }

   
    .form-container button {
        background-color: #00494e;
        color: white;
        padding: 10px 20px;
        border: none;
        cursor: pointer;
        border-radius: 4px;
        font-size: 16px;
        transition: color 0.3s ease;
      
    }

    /* HOOVER */
    .form-container button:hover{
      background-color: #002f32;
      color: #ffffff;
    }

    .form-container button:active{
      background-color: #00494e;
      color: #ffffff;
    }
    
    .image-container {
      flex-basis: 50%;
      display: flex;
      justify-content: flex-end;
      align-items: flex-start; /* Alinear verticalmente arriba */
      padding-right: 20px;
    }
    
    .image-container img {
        max-width: 100%;
        max-height: 100%;
    }
    
    @media screen and (max-width: 768px) {
        .formulario {
            flex-direction: column;
            align-items: center;
        }
    
        .image-container {
            display: none;
        }
    
        .form-container {
            flex-basis: 100%;
        }
    
        .form-container form {
            max-width: 300px; /* Ancho máximo del formulario */
            margin: 0 auto; /* Centrar el formulario horizontalmente */
        }
    }
    
    @media screen and (max-width: 480px) {
        .form-container input,
        .form-container textarea {
            padding: 8px;
            font-size: 14px;
        }
    
        .form-container button {
            padding: 8px 16px;
            font-size: 14px;
        }
    }
                  /* FOOTER */
     
      footer {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        background-color: #00494e;
        color: white;
      }
      
      .logoynav {
        width: 25%;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 2%;
        
      }
      
      .logoynav img {
        width: 70px; /* Tamaño del logo */
        margin-bottom: 40px;
        
      }
      
      .logoynav nav ul {
        list-style: none;
        margin: 0;
        padding: 0;
      }
      
      .logoynav nav ul li {
        margin-bottom:25px;
      }
      
      .logoynav nav ul li a {
        color: white;
        text-decoration: none;
        font-size: 20px;
      }
      
      .infoFooter {
        width: 75%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 20px;
      }
      
      .infoFooter h2 {
        font-size: 40px; /* Tamaño de letra grande */
        margin-bottom: 10px;
      }
      
      .infoFooter a {
        color: white;
        text-decoration: none;
        
      }
      
      .infoFooter p {
        margin-top: 10px;
        font-size: 10px;
      }

      .infoFooter .subrayado{
        text-decoration: underline;
      }
      .infoFooter .marginTop{
        margin-top:80px;
      }

      .infoFooter .marginDerecha{
        margin-top:10%;
        margin-left: 25%;
        font-size: 15px;
      }
      
      .infoFooter .social-links {
        display: flex;
      }
      
      .infoFooter .social-links a {
        margin-right: 10px;
        font-size: 36px;
      }

      @media (max-width: 768px) {
        .infoFooter h2 {
          font-size: 25px;
        }
      
        .infoFooter p {
          font-size: 20px;
        }
        
        .logoynav nav ul li a {
          color: white;
          text-decoration: none;
          font-size:18px;
          transition: transform 0.3s ease;
        }

        .infoFooter .social-links a {
          margin-right: 10px;
          font-size: 23px;
        } 

        .infoFooter .marginDerecha{
          font-size: 10px;
        }


      }

      /* HOOVER */

      footer nav ul li:hover {
        transform: scale(1.2);
      }