/* Letra Navy  H1 Hero */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;700&display=swap');
/* font-family: 'Poppins', sans-serif;  H1 Hero*/ 


*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}
header{
  margin-right:;
}
section:not(.excepcion) {
  margin: 0px 3%;
}

.excepcion {
  background-color: #E3FDF7;
}

a {
    text-decoration: none;
    color: black;
}

li{
    list-style-type: none;
}

.containerHeader {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 20px;
    height: 5rem;
  }
  
  .logo img {
    max-height: 40px;
  }
  
  .menu {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  .menu li {
    margin-right: 20px;
  }
  

  
  .menu li a {
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    margin-left: 2rem;
  }
  
  .contact-btn {
    background-color:#00494e;
    color: #feffff;
    padding: 0.938rem 2rem;
    border: ;
    border-radius:0.625rem;
    font-size:1rem;
    text-align: center;
    border: hidden; 
    cursor:pointer;
    width: 9.375rem;
  }
  
  .mobile-menu {
    display: none;
    cursor: pointer;
    margin-bottom: 2.7rem;
  }
  
  .hamburger {
    width: 30px;
    height: 3px;
    /* background-color: #333; */
    margin: 5px 0;
    font-size: 3rem;
    
  }
  
  @media (max-width: 768px) {
    .menu {
      display: none;
    }
  
    .mobile-menu {
      display: block;
    }
  }

/* SECTION HERO */


.hero {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 80vh;
}

.wordpress {
  flex-basis: 50%;
  padding: 20px;
}

.wordpress h1 {
  font-family: 'Poppins', sans-serif;
  font-size: 10.9vh;
  color: #000;
}

.wordpress .subrayado {
  text-decoration: underline;
  color: #00494e;
}

.wordpress .punto {
  color: #91F2BB;
}

.hire-btn {
  background-color: #00494e;
  color: #feffff;
  padding: 0.938rem 2rem;
  border-radius: 0.625rem;
  font-size: 1rem;
  text-align: center;
  border: hidden;
  cursor: pointer;
  width: 9.375rem;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
}

.imagenAnimada {
  flex-basis: 50%;
}

.imagenAnimada img {
  max-width: 100%;
}

/* Media query para dispositivos móviles */
@media (max-width: 768px) {
  .hero {
    flex-direction: column;
    height: auto;
  }
  
  .wordpress,
  .imagenAnimada {
    flex-basis: 100%;
  }
  
  .wordpress h1 {
    font-size: 6vh;
    text-align: center;
  }
  
  .hire-btn {
    width: 100%;
  }
  
  .imagenAnimada {
    display: none;
  }
}

/* SECTION ABOUT ME */
.aboutme {
  background-color: #E3FDF7;
  display: flex;
}

.aboutme img {
  flex-basis: 32%;
  max-width: 32%;
  margin-left: 5%;
  margin-top: 5%;
  margin-bottom: 5%;
  border-radius: 10px;
}

.aboutme .aboutmeTexto {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  flex-basis: 50%;
  margin-left: 2rem;
}

.aboutme .aboutmeTexto h1 {
  font-size: 3rem;
  margin-bottom: 10px; 
}

.aboutme .aboutmeTexto p {
  font-size: 1.5rem;
  margin-bottom: 20px; 
}

.aboutme .aboutmeTexto button {
  background-color: transparent;
  border: 3px solid black;
  color: black;
  font-weight:bold;
  font-size: 3.5rem;
  border-radius: 1.2rem;
  padding: 0.938rem 2rem;
  cursor: pointer;
  margin-top: 20px;
  
}

/* Media query */

@media (max-width: 768px) {
  .aboutme img {
    display: none;
  }
  
  .aboutme .aboutmeTexto {
    align-items: center;
    text-align: center;
    margin-left: 0;
    flex-basis: 100%;
  }
}



.contenedorOurServices {
  display: flex;
  justify-content: space-between;
  align-items: flex-start; 
  margin: 0 50px; 
}


.titles-container {
  display: flex;
  flex-direction: column;
  align-items: start;
  margin-left: 50px;
}

.prTitulo{
  font-size: 1.8rem;
}

.seTitulo {
  margin: 0;
  font-size: 2.5rem;
}
.services {
  width: 30%; 
  padding: 20px;
  background-color: #E3FDF7;
  border-radius: 10px;
  margin-bottom: 20px; 
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.services img {
  width: 100px;
  height: 100px;
  margin-right: 10px; 
}

.services h2 {
  font-size: 1.8rem;
  margin-top: 0; 
}

.services p {
  font-size: 1.5rem;
  margin-top: 10px;
}

.services button.custom-button {
  background-color: transparent;
  border: 2px solid #00494e;
  color: #00494e;
  padding: 15px 15px;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 20px;
  width: 60%; /* Ajusta el ancho del botón al 50% */
  font-weight: bold; /* Aplica negrita al texto del botón */
}
/* Media query */

@media (max-width: 768px) {
  .contenedorOurServices {
    flex-direction: column;
  }

  .services {
    width: 100%;
    margin-bottom: 20px;
  }
}



.featured {
  background-color: ;
  display: flex;
  flex-direction: column;
}

.featured .cabFeatured {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 1rem; /* Margen inferior para separar de los trabajos */
}

.featured .cabFeatured h1 {
  font-size: 2.5rem;
  margin-right: 1rem; /* Margen derecho para separar del primer trabajo */
  margin: 0 45px;
}

.featured .cabFeatured .alinearpyb {
  display: flex;
  align-items: center;
  
}

.featured .cabFeatured p {
  font-size: 1rem;
}

.featured .contenedorFeatured {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 4rem;
  margin: 0 45px; 
}

.featured .contenedorFeatured .trabajos {
  flex-basis: 30%;
  text-align: center;
  margin-bottom: 2rem; /* Margen inferior estético */
  
  
}

.featured .contenedorFeatured .trabajos img {
  max-width: 100%;
  width: 100%;
}

.featured .contenedorFeatured .trabajos h3 {
  font-size: 2rem;
}

.featured .contenedorFeatured .trabajos p {
  font-size: 1.8rem;
}

.featured .contenedorFeatured .trabajos button {
  background-color: transparent;
  border: 3px solid black;
  color: black;
  text-decoration: none;
  font-size: 1.5rem;
  border-radius: 1rem;
  padding: 0.5rem 1rem;
  cursor: pointer;
}

@media (max-width: 768px) {
  .featured .contenedorFeatured .trabajos {
    flex-basis: 100%;
  }
}

         /* FORMULARIO*/
      .formulario {
        display: flex;
        align-items: center; /* Alinear verticalmente al centro */
       justify-content: space-between; /* Espacio entre los elementos */
    }
    
    .form-container {
        flex-basis: 50%;
        padding: 20px;
        text-align: center;
    }
    
    .form-container h2 {
        font-size: 48px;
        margin-bottom: 20px;
    }
    
    .form-container form {
        display: flex;
        flex-direction: column;
    }
    
    .form-container input::placeholder,
    .form-container textarea::placeholder {
        background-color: #E3FDF7;
    }
    
    .input-container {
        margin-bottom: 20px;
    }
    
    .input-container label {
        display: block;
        font-size: 18px;
        font-weight: bold;
        margin-bottom: 5px;
    }
    
    .input-container input,
    .input-container textarea {
        padding: 10px;
        border-radius: 4px;
        border: 2px solid #ccc;
        font-size: 16px;
        border-color: #00494e;
    }
    
    .form-container button {
        background-color: #00494e;
        color: white;
        padding: 10px 20px;
        border: none;
        cursor: pointer;
        border-radius: 4px;
        font-size: 16px;
    }
    
    .image-container {
      flex-basis: 50%;
      display: flex;
      justify-content: flex-end;
      align-items: flex-start; /* Alinear verticalmente arriba */
      padding-right: 20px;
    }
    
    .image-container img {
        max-width: 100%;
        max-height: 100%;
    }
    
    @media screen and (max-width: 768px) {
        .formulario {
            flex-direction: column;
            align-items: center;
        }
    
        .image-container {
            display: none;
        }
    
        .form-container {
            flex-basis: 100%;
        }
    
        .form-container form {
            max-width: 300px; /* Ancho máximo del formulario */
            margin: 0 auto; /* Centrar el formulario horizontalmente */
        }
    }
    
    @media screen and (max-width: 480px) {
        .form-container input,
        .form-container textarea {
            padding: 8px;
            font-size: 14px;
        }
    
        .form-container button {
            padding: 8px 16px;
            font-size: 14px;
        }
    }
                  /* FOOTER */
     
      footer {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        background-color: #00494e;
        color: white;
      }
      
      .logoynav {
        width: 25%;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 2%;
        
      }
      
      .logoynav img {
        width: 70px; /* Tamaño del logo */
        margin-bottom: 40px;
        
      }
      
      .logoynav nav ul {
        list-style: none;
        margin: 0;
        padding: 0;
      }
      
      .logoynav nav ul li {
        margin-bottom:25px;
      }
      
      .logoynav nav ul li a {
        color: white;
        text-decoration: none;
        font-size: 28px;
      }
      
      .infoFooter {
        width: 75%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 20px;
      }
      
      .infoFooter h2 {
        font-size: 50px; /* Tamaño de letra grande */
        margin-bottom: 10px;
      }
      
      .infoFooter a {
        color: white;
        text-decoration: none;
      }
      
      .infoFooter p {
        margin-top: 10px;
      }

      .infoFooter .subrayado{
        text-decoration: underline;
      }
      .infoFooter .marginTop{
        margin-top:80px;
      }

      .infoFooter .marginDerecha{
        margin-top:10%;
        margin-left: 25%;
      }
      
      .infoFooter .social-links {
        display: flex;
      }
      
      .infoFooter .social-links a {
        margin-right: 10px;
        font-size: 46px;
      }

      @media (max-width: 768px) {
        .infoFooter h2 {
          font-size: 25px;
        }
      
        .infoFooter p {
          font-size: 20px;
        }
        a {
          font-size: 10px;
        }

      }